# Git
.gitignore


# Debug
app/MH3U\ Save\ Editor/Debug/*
app/MH3U\ Save\ Editor/MH3U\ Save\ Editor/Debug/*
app/MH3U\ Save\ Editor\ GUI/build-MH3USaveEditorGUI-Desktop_Qt_5_5_0_MinGW_32bit-Debug/*
app/MH3U\ Save\ Editor\ GUI/build-MH3USaveEditorGUI-Desktop_Qt_5_5_0_MinGW_32bit-Release/*

*.opensdf
*.sdf
*.sln
*.v11.suo
*.vcxproj
*.vcxproj.filters
*.pro
*.pro.user


# Old Apps
app/Save\ Editor/*
app/Save\ Editor\ GUI/*


# Wiki folder
wiki


# Saves
save/*
data/*.txt
release/*
screen/*